/*
  External Links for Osclass Style
 */

 #external_links-form label {
	cursor: pointer;
}

#external_links-form .form-controls {
	padding-top: 5px;
}

#external_links-form .form-well {
	background: #f3f3f3;
    padding: 0.5em 1.8em 0.4em;
    border: 1px solid #dddddd;
}

#external_links-form .form-well h3 {
	text-transform: uppercase;
	font-size: 18px;
	font-weight: bold;
	margin-bottom: 20px;
}

#external_links-form .form-well dt {
	margin-bottom: 10px;
	font-size: 16px;
}

#external_links-form .form-well dd {
	padding: 0;
	margin: 0;
	font-size: 13px;
	line-height: 1.6;
}

#external_links-form .form-well code {
	background-color: #bababa;
	color: #ffffff;
	display: inline-block;
	padding: 0 5px;
	font-size: 11px;
	border: none;
}
